---
const { tooltip } = Astro.props;
---

<div
    id={tooltip}
    data-tooltip-target="tooltip"
    data-tooltip-placement="top"
    role="tooltip"
    class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-[#fafafa] dark:text-gray-900 bg-[#0f172a]  dark:bg-white border dark:border-gray-200 rounded-lg shadow-sm opacity-0 tooltip"
>
  {tooltip}
  <div class="tooltip-arrow" data-popper-arrow></div>
</div>

<div data-tooltip-target={tooltip} class="w-[4rem] flex-col hover:animate-pulse hover:scale-110 transition-all flex justify-center items-center h-[4rem] dark:bg-[#28282830] bg-gray-100 bg-opacity-20 border border-gray-700 rounded-lg shadow dark:bg-gray-800"
>
  <slot name="icon"/>
</div>

