---
import SectionHeader from "@/common/components/astroComponentes/SectionHeader.astro";
import { Linkedin, Mail, Send } from "lucide-react";
---

<section
	id="contacto"
	class="sm:mx-auto mx-4 max-w-[32rem] py-8 sm:py-10 transition-all md:max-w-[42rem] lg:max-w-4xl"
>
	<div
		class="flex flex-col md:px-4 md:py-12 p-2 border rounded-md bg-gray-800 dark:border-slate-600 gap-6 bg-[conic-gradient(at_bottom_right,_var(--tw-gradient-stops))] from-[#1d4ed8] via-[#1e40af] to-[#111827] items-center relative before:absolute before:top-0 before:left-0 before:w-full
     before:h-full before:content-[''] before:opacity-[0.02] before:z-10 before:pointer-events-none
     before:bg-[url('https://www.ui-layouts.com/noise.gif')]"
		data-reveal-item
		style="--motion-delay: 40ms; --motion-duration: var(--motion-duration-base); --motion-distance: 18px; --motion-blur: 4px;"
	>
		<div class="space-y-4">
			<SectionHeader title="Creemos algo juntos" center>
				<Send slot="icon" className="text-sky-500 dark:text-sky-300 h-8 w-8" />
			</SectionHeader>

			<p
				class="max-w-2xl text-sm leading-6 text-slate-600 dark:text-slate-300 md:text-base"
			>
				Abierto a nuevas oportunidades, colaboraciones freelance o simplemente
				para charlar sobre diseño, desarrollo y procesos creativos. Si tenés un
				proyecto en mente o querés conectar, este es un buen momento para
				hacerlo.
			</p>
		</div>

		<div class="flex flex-wrap gap-2 items-center">
			<a
				href="mailto:matiasowjordan@gmail.com"
				target="_blank"
				class="border gap-2 text-[12px] sm:text-sm border-gray-700 bg-gray-700 dark:bg-gray-900 inline-flex items-center px-3 py-2 font-medium text-center text-white hover:border-gray-500 rounded-lg hover:bg-gray-800 dark:hover:bg-gray-950"
			>
			<Mail slot="icon" className="text-sky-500 dark:text-sky-300 h-4 w-4" />
				Enviar correo
			</a>
		</div>
	</div>
</section>
