---
import Tittle from "../Tittle.astro";
import Experiencia from "../Experiencia.astro";
import MyProjects from "../MyProjects.astro";
import ProgressBar from "../ProgressBar.astro";
import SobreMi from "../SobreMi.astro";
---

<main>
    <ProgressBar/>
    <Tittle/>
    <Experiencia/>
    <MyProjects/>
    <SobreMi/>
</main>

<style scoped>
  @import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Parkinsans:wght@300..800&family=Righteous&display=swap');
  
</style>