---
import { BriefcaseIcon } from "lucide-react";
import Timeline from "../components/Timeline.astro";
import SectionHeader from "@/common/components/astroComponentes/SectionHeader.astro";
---

<section
	id="experiencia"
	class="sm:mx-auto py-6 mx-4 max-w-[32rem] md:max-w-[42rem] lg:max-w-4xl"
>
	<article
		class="flex flex-col gap-5 justify-center"
		aria-label="Mi experiencia laboral"
	>
		<SectionHeader title="Mi experiencia laboral">
			<BriefcaseIcon slot="icon" className="text-sky-500 dark:text-sky-300 h-8 w-8" />
		</SectionHeader>

		<div class="md:w-3/4 w-full">
			<Timeline />
		</div>
	</article>
</section>
