---
import { ChevronDown } from "lucide-react";
import CardExperiencie from "../ui/astroComponentes/CardExperiencie.astro";
---

<section class="sm:mx-auto py-6 mx-4 max-w-[32rem] md:max-w-[42rem] lg:max-w-4xl">
  <article class="flex flex-col gap-5 justify-center" aria-label="Mi experiencia laboral">
    <div class="flex gap-1 items-center">
      <h2 class="pb-4 title text-2xl md:text-[3xl] font-semibold w-fit text-[#141a28]  dark:text-[#fafafa]">游눺Mi experiencia laboral </h2>
    </div>


    <CardExperiencie tittle="Dise침ador UX/UI jr" empresa="@Hackmetrix" periodo="Feb 2025 - Actualidad" text="Luego de haber realizado 1 a침o de pasant칤a fui ascendido a colaborador oficial. " destacado="El objetivo es disminuir el TTV (Time To Value) y reducir las consultas realizadas al 치rea de soporte"/>

    <CardExperiencie tittle="Pasante dise침o UX/UI" empresa="@Hackmetrix" periodo="Feb 2024 - Feb 2025" text="Acuerdo de pasant칤a en donde estuve enfocado en dise침ar una plataforma gestionable para empresas con m치s de 100 personas. " destacado=" Se logr칩 a침adir al design system +10 componentes de gr치ficos y realizar el handoff de un nuevo m칩dulo completo."/>

    <CardExperiencie tittle="Edici칩n" empresa="@Musicaysimpleza" periodo="Jul 2023 - Actualidad" text="Administrador de redes sociales. " destacado="Creaci칩n de publicaciones para Instagram, ideaci칩n de contenido y edici칩n de videos para Youtube. Contacto constante con clientes"/>

    </div>
    </p>


<style scoped>
  @import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Parkinsans:wght@300..800&family=Righteous&display=swap');

  .title {
		font-family: "Parkinsans", sans-serif;
  }
  details {
    cursor: pointer;
    backdrop-filter: blur(20px);
  }

  details:hover {
    backdrop-filter: blur(10px);
  }


</style>