---
import { ChevronDown } from "lucide-react";
---

<section class="sm:mx-auto py-6 mx-4 max-w-[32rem] md:max-w-[42rem] lg:max-w-4xl">
  <article class="flex flex-col gap-5 justify-center" aria-label="Mi experiencia laboral">
    <div class="flex gap-1 items-center">
      <h2 class="pb-4 title text-2xl md:text-[3xl] font-semibold w-fit text-[#141a28]  dark:text-[#fafafa]">游눺Mi experiencia laboral </h2>
    </div>

    <details class="overflow-hidden	w-full flex transition-all dark:hover:bg-[#2828284c]
        hover:bg-gray-100 border-gray-500 hover:bg-opacity-50 dark:border-[#ffffff4d] flex-col gap-2 border-solid border-2 rounded-lg">
        <summary class="flex justify-between items-start sm:items-center px-3 pt-3">
          <div class="flex flex-col gap-2 sm:gap-0">
            <div class="flex gap-2  sm:gap-3 flex-col sm:flex-row">
              <span class="text-[12px] md:text-[18px] font-semibold text-[#141a28] dark:text-[#fafafa] "><span class="">Dise침ador UX/UI Jr</span> - @Hackmetrix</span>
            </div>
            <small class="text-[#141a28] dark:text-[#fafafa] font-thin text-[12px]">Feb 2025 - Actualidad</small>
          </div>
          <ChevronDown className="icon text-[#141a28] dark:text-[#fafafa]"/>
        </summary>

        <div class="mb-3 mx-4">
          <hr class="h-px my-2 bg-[#141a28] border-0 dark:bg-gray-500">
          <p class="text-[#141a28] mx-2 dark:text-gray-200 text-[14px]">Luego de un a침o sumando experiencia y sumergi칠ndome en el dise침o de producto, pas칠 a ser colaborador oficialmente. Enfocado en el dise침o de m칩dulos de ciberseguridad y automatizaciones de valor.
            </p>
        </div>
      </details>
    
    <div class="flex flex-col gap-5 w-full">
      <details class="overflow-hidden	w-full flex transition-all dark:hover:bg-[#2828284c]
        hover:bg-gray-100 border-gray-500 hover:bg-opacity-50 dark:border-[#ffffff4d] flex-col gap-2 border-solid border-2 rounded-lg">
        <summary class="flex justify-between items-start sm:items-center px-3 pt-3">
          <div class="flex flex-col gap-2 sm:gap-0">
            <div class="flex gap-2  sm:gap-3 flex-col sm:flex-row">
              <span class="text-[12px] md:text-[18px] font-semibold text-[#141a28] dark:text-[#fafafa] ">Pasante dise침o UX/UI - @Hackmetrix</span>
              
            </div>
            <small class="text-[#141a28] dark:text-[#fafafa] font-thin text-[12px]">Feb 2024 - Feb 2025</small>
          </div>
          <ChevronDown className="icon text-[#141a28] dark:text-[#fafafa]"/>
        </summary>
        
        <div class="mx-3 mb-3">
          <hr class="h-px my-2 bg-[#141a28] border-0 dark:bg-gray-500">
          <p class="m-2 text-[#141a28] dark:text-gray-200 text-[14px]"> M칠todolog칤a de continuous discovery para alcanzar la mejor experiencia en los usuarios. Enfocado en construir una plataforma gestionable para empresas medianas y autoexplicativa para que vean el valor otorgado.
            </p>
        </div>
      </details>

      <details class="overflow-hidden	w-full flex border-gray-500 transition-all dark:hover:bg-[#2828284c]
        hover:bg-gray-100 dark:border-[#ffffff4d] hover:bg-opacity-50 flex-col gap-2 border-solid border-2 rounded-lg">
        <summary class="flex justify-between items-start sm:items-center px-3 pt-3">
          <div class="flex flex-col gap-2 sm:gap-0">
            <div class="flex gap-2  sm:gap-3 flex-col sm:flex-row">
              <span class="text-[12px] md:text-[18px] font-semibold text-[#141a28] dark:text-[#fafafa]">Edici칩n - @Muiscaysimpleza</span>
              
            </div>
            <small class="text-[#141a28] dark:text-[#fafafa] font-thin text-[12px]">Jul 2023 - Actualidad</small>
          </div>
          <ChevronDown className="icon text-[#141a28] dark:text-[#fafafa]"/>
        </summary>

        
        <div class="mx-3 mb-3">
          <hr class="h-px my-2 bg-[#141a28] border-0 dark:bg-gray-500">
          <p class="m-2 text-[#141a28] dark:text-gray-200 text-[14px]">Administrador de redes sociales. Creaci칩n de publicaciones para Instagram, ideaci칩n de contenido y edici칩n de videos para Youtube. Contacto constante con clientes.
            </p>
        </div>
      </details>

      <details class="overflow-hidden	w-full flex border-gray-500 hover:bg-opacity-50 transition-all dark:hover:bg-[#2828284c]
        hover:bg-gray-100 dark:border-[#ffffff4d] flex-col gap-2 border-solid border-2 rounded-lg">
        <summary class="flex justify-between items-start sm:items-center px-3 pt-3">
          <div class="flex flex-col gap-2 sm:gap-0">
            <div class="flex gap-2  sm:gap-3 flex-col sm:flex-row">
              <span class="text-[12px] md:text-[18px] font-semibold text-[#141a28] dark:text-[#fafafa]">Dise침ador gr치fico -  @Freelancer</span>
              
            </div>
            <small class="text-[#141a28] dark:text-[#fafafa] font-thin text-[12px]">Jul 2023 - Actualidad</small>
          </div>
          <ChevronDown className="icon text-[#141a28] dark:text-[#fafafa]"/>
        </summary>
        
        <div class="mx-3 mb-3">
          <hr class="h-px my-2 bg-[#141a28] border-0 dark:bg-gray-500">

          <p class="m-2 text-[#141a28] dark:text-gray-200 text-[14px]">Creador de piezas visuales como logotipos, flyers, publicaciones para redes sociales y banners para clientes. Atenci칩n y dise침os 100% personalizados ajustados a sus necesidades y solicitudes.
            </p>
        </div>
      </details> 
    </div>
    </p>


<style scoped>
  @import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Parkinsans:wght@300..800&family=Righteous&display=swap');

  .title {
		font-family: "Parkinsans", sans-serif;
  }
  details {
    cursor: pointer;
    backdrop-filter: blur(20px);
  }

  details:hover {
    backdrop-filter: blur(10px);
  }


</style>