---
import { ChevronDown } from "lucide-react";
---

<section class="mx-auto py-12 max-w-4xl">
  <article class="flex flex-col gap-5 justify-center" aria-label="Mi experiencia laboral">
    <div class="flex gap-1 items-center">
      <h2 class="title text-3xl font-semibold w-fit text-[#fafafa]">Mi experiencia laboral</h2>
    </div>
    
    <div class="flex flex-col gap-5 w-full">
      <details class="overflow-hidden	w-full flex transition-all flex-col gap-2 border-solid border-2 border-[#46b0e2] rounded-lg">
        <summary class="flex justify-between items-center px-3 pt-3">
          <div class="flex flex-col">
            <div class="flex gap-3">
              <span class="text-[18px] font-semibold text-[#fafafa]">Pasante diseño UX/UI - @Hackmetrix</span>
              <div class="flex ">
                <span class="bg-[#28282834] badge gap-1 text-[#fafafa] text-[10px] font-medium inline-flex items-center px-1.5 rounded me-2 dark:bg-gray-700 dark:text-gray-400 border border-gray-500 transition-all">
                  Figma
                </span>
                <span class="bg-[#28282834] badge gap-1 text-[#fafafa] text-[10px] font-medium inline-flex items-center px-1.5 rounded me-2 dark:bg-gray-700 dark:text-gray-400 border border-gray-500 transition-all">
                  Miro
                </span>
                <span class="bg-[#28282834] badge gap-1 text-[#fafafa] text-[10px] font-medium inline-flex items-center px-1.5 rounded me-2 dark:bg-gray-700 dark:text-gray-400 border border-gray-500 transition-all">
                  Discovery
                </span>
              </div>
            </div>
            <small class="text-[#fafafa] font-thin text-[12px]">Feb 2024 - Actualidad</small>
          </div>
          <ChevronDown className="icon text-[#fafafa]"/>
        </summary>
        
        <div class="mx-3 mb-3 border-[1.5px] bg-[#fafafa1b] rounded-md border-[#ffffff80]">
          <p class="m-2 text-[#fafafa] text-[14px]">Parte del equipo de producto. Participante del proceso de research, discovery y diseño para la plataforma. Métodología de continuous discovery para alcanzar la mejor experiencia en los usuarios. También se han realizado piezas de diseño para otras áreas de la empresa como marketing.
            </p>
        </div>
      </details>

      <details class="overflow-hidden	w-full flex transition-all flex-col gap-2 border-solid border-2 border-[#46b0e2] rounded-lg">
        <summary class="flex justify-between items-center px-3 pt-3">
          <div class="flex flex-col">
            <div class="flex gap-3">
              <span class="text-[18px] font-semibold text-[#fafafa]">Editor de contenido - @Muiscaysimpleza</span>
              <div class="flex ">
                <span class="bg-[#28282834] badge gap-1 text-[#fafafa] text-[10px] font-medium inline-flex items-center px-1.5 rounded me-2 dark:bg-gray-700 dark:text-gray-400 border border-gray-500 transition-all">
                  Adobe Photoshop
                </span>
                <span class="bg-[#28282834] badge gap-1 text-[#fafafa] text-[10px] font-medium inline-flex items-center px-1.5 rounded me-2 dark:bg-gray-700 dark:text-gray-400 border border-gray-500 transition-all">
                  Adobe Illustrator
                </span>
                <span class="bg-[#28282834] badge gap-1 text-[#fafafa] text-[10px] font-medium inline-flex items-center px-1.5 rounded me-2 dark:bg-gray-700 dark:text-gray-400 border border-gray-500 transition-all">
                  Adobe Premiere
                </span>
              </div>
            </div>
            <small class="text-[#fafafa] font-thin text-[12px]">Jul 2023 - Actualidad</small>
          </div>
          <ChevronDown className="icon text-[#fafafa]"/>
        </summary>

        
        <div class="mx-3 mb-3 border-[1.5px] bg-[#fafafa1b] rounded-md border-[#ffffff80]">
          <p class="m-2 text-[#fafafa] text-[14px]">Administrador de redes sociales. Creación de publicaciones e ideación de contenido. Contacto constante con clientes.
            </p>
        </div>
      </details>

      <details class="overflow-hidden	w-full flex transition-all flex-col gap-2 border-solid border-2 border-[#46b0e2] rounded-lg">
        <summary class="flex justify-between items-center px-3 pt-3">
          <div class="flex flex-col">
            <div class="flex gap-3">
              <span class="text-[18px] font-semibold text-[#fafafa]">Diseñador gráfico -  @Freelancer</span>
              <div class="flex ">
                <span class="bg-[#28282834] badge gap-1 text-[#fafafa] text-[10px] font-medium inline-flex items-center px-1.5 rounded me-2 dark:bg-gray-700 dark:text-gray-400 border border-gray-500 transition-all">
                  Adobe Photoshop
                </span>
                <span class="bg-[#28282834] badge gap-1 text-[#fafafa] text-[10px] font-medium inline-flex items-center px-1.5 rounded me-2 dark:bg-gray-700 dark:text-gray-400 border border-gray-500 transition-all">
                  Adobe Illustrator
                </span>
              </div>
            </div>
            <small class="text-[#fafafa] font-thin text-[12px]">Jul 2023 - Actualidad</small>
          </div>
          <ChevronDown className="icon text-[#fafafa]"/>
        </summary>
        
        <div class="mx-3 mb-3 border-[1.5px] bg-[#fafafa1b] rounded-md border-[#ffffff80]">
          <p class="m-2 text-[#fafafa] text-[14px]">Creador de piezas visuales como logotipos, flyers, publicaciones para redes sociales y banners para clientes. Atención y diseños 100% personalizados ajustados a sus necesidades y solicitudes.
            </p>
        </div>
      </details> 
    </div>
    </p>


<style scoped>
  @import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Parkinsans:wght@300..800&family=Righteous&display=swap');

  .title {
		font-family: "Parkinsans", sans-serif;
  }
  details {
    border: solid 1.5px #ffffff80;
    cursor: pointer;
    background: #2828281d;
    backdrop-filter: blur(20px);
  }

  details:hover {
    border: solid 1.5px rgba(255, 255, 255, 0.7);
    background: #2828284c;
    backdrop-filter: blur(10px);
  }

  @keyframes open {
  0% {
    opacity: 0;
    transform: translateY(-1vw);
  }
  100% {
    opacity: 1;
  }
}

  details[open] summary~* {
    animation: open .5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }

</style>