---
import { ChevronDown } from "lucide-react";
import CardExperiencie from "./ui/cardExperiencie.astro";
---

<section class="sm:mx-auto py-6 mx-4 max-w-[32rem] md:max-w-[42rem] lg:max-w-4xl">
  <article class="flex flex-col gap-5 justify-center" aria-label="Mi experiencia laboral">
    <div class="flex gap-1 items-center">
      <h2 class="pb-4 title text-2xl md:text-[3xl] font-semibold w-fit text-[#141a28]  dark:text-[#fafafa]">游눺Mi experiencia laboral </h2>
    </div>


    <CardExperiencie tittle="Dise침ador UX/UI jr" empresa="@Hackmetrix" periodo="Feb 2025 - Actualidad" text="Tras un a침o adquiriendo experiencia y profundizando en el dise침o de producto, me convert칤 en colaborador oficial. Actualmente, me enfoco en" destacado="dise침ar m칩dulos de ciberseguridad con el objetivo de transformarlos en productos independientes, adem치s de desarrollar automatizaciones de alto valor"/>

    <CardExperiencie tittle="Pasante dise침o UX/UI" empresa="@Hackmetrix" periodo="Feb 2024 - Feb 2025" text="Primer experiencia laboral, adentr치ndome en la metodolog칤a de continuos discovery." destacado=" Enfocado en construir una plataforma gestionable para empresas medianas y autoexplicativa para que vean el valor otorgado"/>

    <CardExperiencie tittle="Edici칩n" empresa="@Musicaysimpleza" periodo="Jul 2023 - Actualidad" text="Administrador de redes sociales. " destacado="Creaci칩n de publicaciones para Instagram, ideaci칩n de contenido y edici칩n de videos para Youtube. Contacto constante con clientes"/>

    </div>
    </p>


<style scoped>
  @import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Parkinsans:wght@300..800&family=Righteous&display=swap');

  .title {
		font-family: "Parkinsans", sans-serif;
  }
  details {
    cursor: pointer;
    backdrop-filter: blur(20px);
  }

  details:hover {
    backdrop-filter: blur(10px);
  }


</style>