---
---

<footer class="bg-gray-800 shadow m-auto py-4 dark:bg-gray-800 w-[100%] md:w-auto">
  <div class="lg:max-w-4xl max-w-[32rem] md:max-w-[42rem] mx-4 sm:m-auto items-center flex flex-col sm:items-end sm:flex-row justify-between">
    <span class="text-sm  sm:text-center dark:text-gray-400 text-[#cacaca]">© 2025 <a href="https://www.linkedin.com/in/matias-jordan/" target="_blank" class="hover:underline text-[#cacaca]">Matías Owen Jordán</a>.
  </span>
  <ul class="flex flex-wrap items-center mt-3 gap-5 sm:gap-0 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
      <li>
          <a href="https://github.com/jorditan" target="_blank" class="text-[#cacaca] hover:underline me-4 md:me-6">Github</a>
      </li>
      <li>
          <a href="https://www.behance.net/matiasowenjordan" class="text-[#cacaca] hover:underline me-4 md:me-6"  target="_blank">Behance</a>
      </li>
      <li>
          <a href="mailto:matiasowjordan@gmail.com" class="text-[#cacaca] hover:underline">Contacto</a>
      </li>
  </ul>
  </div>
</footer>

