---
import FrontEnd from "./projects/FrontEnd.astro";
import Design from "./projects/Design.astro";

let actualView = "front";
---

<section class="mx-auto pb-10 max-w-4xl" id="proyectos">
  <h2 class="pb-4 title text-3xl font-semibold w-fit text-[#fafafa]">Proyectos</h2>
  <div class="flex flex-col gap-5 justify-center" aria-label="Mis proyectos">
    <div class="tabs text-sm flex font-medium text-center text-gray-400 border-b border-gray-400 dark:text-gray-400 dark:border-gray-700">
      <ul class="flex flex-wrap -mb-px">
        <li class="me-2">
          <span data-view="front"
            class:list={["front cursor-pointer transition-all inline-block p-4 border-b-1 rounded-t-lg", {
              "text-[#71d1fa] border-b-2 border-[#71d1fa] hover:text-gray-300" : actualView === "front",
            }]}
          >
            Front-End
          </span>
        </li>
        <li class="me-2">
          <span data-view="design"
            class:list={["front cursor-pointer transition-all inline-block p-4 border-b-1 rounded-t-lg", {
              "text-[#71d1fa] border-b-2 border-[#71d1fa] hover:text-gray-300" : actualView === "design",
            }]}
          >
            Diseño UX/UI
          </span>
        </li>
      </ul>
    </div>
    <div>
      {actualView === "front" ? <FrontEnd /> : <Design />}
    </div>
  </div>
</section>

<script is:inline type="module" lang="js">
  const tabDesign = document.querySelector('[data-view="design"]');
  tabDesign?.addEventListener('click', () => {
    alert("design");
  });
</script>
