---
import { MoonIcon } from "lucide-react";
import { SunIcon } from "lucide-react";
import { Download } from "lucide-react";
---

<header class="flex justify-center py-5 fixed w-full z-10">
  <nav
    class="py-2 px-4 flex glass justify-center rounded-lg transition-all gap-12 items-center"
  >
    <div class="flex gap-8 items-center justify-center">
      <ul class="flex gap-4">
        <li>
          <a
            href="./#inicio"
            class="pointer text-[#fafafa] text-[16px] decoration-none cursor-pointer hover:text-[#3fb6ea] transition-all"
          >
            Inicio
          </a>
        </li>
        <li>
          <a
            href="./#proyectos"
            class="pointer text-[#fafafa] text-[16px] decoration-none cursor-pointer hover:text-[#3fb6ea] transition-all"
          >
            Proyectos
          </a>
        </li>
        <li>
          <a
            href="./#sobreMi"
            class="pointer text-[#fafafa] text-[16px] decoration-none cursor-pointer hover:text-[#3fb6ea] transition-all"
          >
            Sobre mi
          </a>
        </li>
        <li>
          <a
            href="contacto"
            class="pointer text-[#fafafa] text-[16px] decoration-none cursor-pointer hover:text-[#3fb6ea] transition-all"
          >
            Contacto
        </a>
      </ul>

      <div class="flex gap-4 items-center">
        <div
          id="tooltip-light"
          role="tooltip"
          class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 tooltip"
        >
          Cambiar tema
          <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
        <div
          id="tooltip-cv"
          role="tooltip"
          class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 tooltip"
        >
          Descargar CV
          <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
        <button
          data-tooltip-target="tooltip-light"
          class="rounded-full"
          id="themeButton"
        >
          <MoonIcon className="icon transition-all" />
        </button>
        <a href="/public/curriculum_vitae.pdf" class="w-[32px] h-[24px]" download target="_blank">
          <button 
          data-tooltip-target="tooltip-cv"
          class="rounded-full"
          id="themeButton"
          >
            <Download className="icon transition-all" />
          </button>
        </a>
      </div>
      </div>
    </div>
  </nav>
</header>

<style scoped>
  .glass {
    background: #28282834;
    backdrop-filter: blur(10px);
    border: solid 2px rgba(255, 255, 255, 0.2);
    position: relative;
  }
  .glass:hover {
    border: solid 2px rgba(255, 255, 255, 0.3);
  }
  .icon {
    color: #fafafa;
  }
  .icon:hover {
    scale: 1.1;
  }
</style>

<script>
  import { toggleTheme } from "../theme/theme";
  const buttonTheme = document.querySelector("#themeButton");
  const root = document.documentElement;
  buttonTheme?.addEventListener("click", () => {
    toggleTheme();
  });


</script>
