---
import { MoonIcon } from "lucide-react";
import { SunIcon } from "lucide-react";
import { Download } from "lucide-react";
import ThemeSelector from "./ThemeSelector";
---

<header class="flex justify-center py-5 fixed w-full z-10">
  <nav
    class="py-1 sm:py-2 px-4 dark:bg-[#28282834] bg-[#bae5fd6f] flex glass justify-center rounded-lg transition-all gap-12 items-center border-2 dark:border-[#ffffff33]  dark:hover:border-[#ffffff4d] border-slate-500
"
  >
    <div class="flex gap-4 sm:gap-8 items-center justify-center">
      <ul class="flex gap-4">
        <li>
          <a
            href="/#inicio"
            class="pointer text-[#141a28] dark:text-[#fafafa] text-[12px] sm:text-[16px] decoration-none cursor-pointer hover:text-sky-600 dark:hover:text-[#3fb6ea] transition-all"
          >
            Inicio
          </a>
        </li>
        <li>
          <a
            href="/#proyectos"
            class="pointer text-[#141a28] dark:text-[#fafafa] text-[12px] sm:text-[16px] decoration-none cursor-pointer hover:text-sky-600 dark:hover:text-[#3fb6ea] transition-all"
          >
            Proyectos
          </a>
        </li>
        <li>
          <a
            href="/#sobreMi"
            class="pointer text-[#141a28] dark:text-[#fafafa] text-[12px] sm:text-[16px] decoration-none cursor-pointer hover:text-sky-600 dark:hover:text-[#3fb6ea] transition-all"
          >
            Sobre mi
          </a>
        </li>
        <li>
          <a
            href="/contacto"
            class="pointer text-[#141a28] dark:text-[#fafafa] text-[12px] sm:text-[16px] decoration-none cursor-pointer hover:text-sky-600 dark:hover:text-[#3fb6ea]  transition-all"
          >
            Contacto
        </a>
        </li>
      </ul>

      <div class="flex gap-2 sm:gap-4 items-center">
      <ThemeSelector client:load/>
        <button 
          aria-label="DownloadButton"
          data-tooltip-target="tooltip-cv"
          class="rounded-full"
          > 
          <a download href="/curriculum_vitae.pdf" class="w-fit h-fit" target="_blank" aria-label="Download button">
            <Download className="icon transition-al stroke-[#141a28] dark:stroke-[#fafafa] h-[16px] w-[16px] sm:h-[24px] sm:w-[24px]" />
          </a>
          </button> 
      </div>
      </div>
    </div>
  </nav>
</header>

<style scoped>
  .glass {
    backdrop-filter: blur(10px);
    position: relative;
  }
  .icon {
    color: #fafafa;
  }

  .icon:hover {
    scale: 1.1;
  }
</style>

