---

---

<section class="mx-auto pb-4 max-w-4xl">
  <article>
    <div>
      <h2 class="pb-4 title text-3xl font-semibold w-fit text-[#fafafa]">Tecnologías</h2>
      <p class="text-center text-gray-500 dark:text-gray-400">Estas son las tecnologías que he utilizado en mis proyectos</p>
    </div>
  </article>
</section>