---
import TecnologyCard from "./ui/TecnologyCard.astro"
import ReactIcon from "./icons/ReactIcon.astro"
import VueIcon from "./icons/VueIcon.astro"
import JavascriptIcon from "./icons/JavascriptIcon.astro"
import TypescriptIcon from "./icons/TypescriptIcon.astro"
import PostgreSQL from "./icons/PostgreSQL.astro"
import PythonIcon from "./icons/PythonIcon.astro"
import TailwdindIcon from "./icons/TailwindIcon.astro"
import SassIcon from "./icons/SassIcon.astro"
import FigmaIcon from "./icons/FigmaIcon.astro"
import IllustratorIcon from "./icons/IllustratorIcon.astro"
import PhotoshopIcon from "./icons/PhotoshopIcon.astro"

---
  <article class="mt-9">
    <div>
      <h5 class="pb-4 text-[#0f172a] dark:text-[#fafafa]">¿Qué tecnologías utilizo?</h5>
      <div class="flex flex-wrap w-full gap-[10px] md:gap-4 justify-center">
        
        <TecnologyCard tooltip="React">
          <ReactIcon slot="icon" />
        </TecnologyCard>

        <TecnologyCard tooltip="Vue">
          <VueIcon slot="icon" />
        </TecnologyCard>

        
        <TecnologyCard tooltip="Javascript">
          <JavascriptIcon slot="icon" />
        </TecnologyCard>
        

        <TecnologyCard tooltip="Typescript">
          <TypescriptIcon slot="icon" />
        </TecnologyCard>

        <TecnologyCard tooltip="PostgreSQL">
          <PostgreSQL slot="icon" />
        </TecnologyCard>

        <TecnologyCard tooltip="Python">
          <PythonIcon slot="icon" />
        </TecnologyCard>

        <TecnologyCard tooltip="Tailwind">
          <TailwdindIcon slot="icon" />
        </TecnologyCard>

        <TecnologyCard tooltip="Sass">
          <SassIcon slot="icon" />
        </TecnologyCard>

        <TecnologyCard tooltip="Figma">
          <FigmaIcon slot="icon" />
        </TecnologyCard>
        
        <TecnologyCard tooltip="Photoshop">
          <PhotoshopIcon slot="icon" />
        </TecnologyCard>

        <TecnologyCard tooltip="Illustrator">
          <IllustratorIcon slot="icon" />
        </TecnologyCard>
        
      </div>
    </div>
  </article>

<style>
  svg {
    height: 40px;
    width: 40px;
  }
</style>
