---
---
<section class="pt-[8rem] m-auto flex justify-center">
  <article class="flex flex-col gap-5 justify-center" aria-label="Bienvenida al portfolio">
    <p class="text-[#dadada] text-md w-fit">¡Bienvenidos! Mi nombre es</p>
    <div class="flex flex-col">
      <h1 class="title text-8xl font-bold w-fit text-[#fafafa]">Matías Jordán</h1>
      <h2 class="text-4xl font-bold w-fit text-[#fafafa]">Diseñador UX/UI</h2>
    </div>
    <p class="text-[#dadada] text-md w-fit">	
      Apasionado en el <strong>desarrollo y diseño</strong> de soluciones innovadoras. Estudiante de la <br> tecnicatura en programación en la <strong>Universidad Nacional de Hurlingham (UNAHUR)</strong>.
    </p>
  </article>

</section>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Parkinsans:wght@300..800&family=Righteous&display=swap');
.title {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
}

</style>