---
---
<section class="mx-auto pt-28 py-12 max-w-4xl">
  <article class="flex flex-col gap-5 justify-center w-fit" aria-label="Bienvenida al portfolio">    
    </div></div>
    <small class="text-[#fafafa] text-md w-fit">¡Bienvenidos! Mi nombre es</small>
    <div class="flex flex-col">
      <div class="flex gap-4 items-end z-0">
        <h1 class="title text-7xl font-bold w-fit text-[#fafafa]">Matías Jordán</h1>
        <small class="m-2 bg-[#46b1e238] badge gap-1 animate-pulse text-[#fafafa] h-fit font-medium inline-flex items-center px-2.5 py-0.5 rounded me-2 dark:bg-gray-700 dark:text-gray-400 border border-gray-500 transition-all hover:bg-[#46b0e2]">
          <svg xmlns="http://www.w3.org/2000/svg"  width="16"  height="16"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-briefcase-2"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 9a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9z" /><path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2" /></svg>
          Actualmente trabajando
        </small>
      </div>
      <div class="puestos">
        <div class="roles">
          <h2 class="text-3xl font-bold w-fit text-[#fafafa]">Diseñador UX/UI</h2>
          <h2 class="text-3xl font-bold w-fit text-[#fafafa]">Desarrollador frontend</h2>
        </div>
      </div>
    </div>
    <p class="text-[#fafafa] text-md w-fit">	
      Apasionado en el <span class="font-semibold text-[#46b0e2]">desarrollo y diseño</span> de soluciones innovadoras. Estudiante de la <br> tecnicatura en programación en la <span class="font-semibold text-[#46b0e2]">Universidad Nacional de Hurlingham (UNAHUR)</span>.
    </p>
    
    <div class="flex">
      <a href="https://www.linkedin.com/in/matias-jordan/" target="_blank">
        <span class="bg-[#28282834] badge gap-1 text-[#fafafa] text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded me-2 dark:bg-gray-700 dark:text-gray-400 border border-gray-500 transition-all hover:bg-[#46b0e2]">
          <svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 11v5" /><path d="M8 8v.01" /><path d="M12 16v-5" /><path d="M16 16v-3a2 2 0 1 0 -4 0" /><path d="M3 7a4 4 0 0 1 4 -4h10a4 4 0 0 1 4 4v10a4 4 0 0 1 -4 4h-10a4 4 0 0 1 -4 -4z" /></svg>
          LinkedIn
        </span>
      </a>
      <a href="https://github.com/jorditan" target="_blank">
        <span class="bg-[#28282834] badge gap-1 text-[#fafafa] text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded me-2 dark:bg-gray-700 dark:text-gray-400 border border-gray-500 transition-all hover:bg-[#46b0e2]">
          <svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-github"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" /></svg>
          Github
        </span>
      </a>
    </div>
    
  </article>

</section>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Parkinsans:wght@300..800&family=Righteous&display=swap');

.puestos {
  overflow: hidden;
}

.roles, h2  {
  list-style: none;
}

.roles {
  position: relative;
  height: 36px;
  animation: slide 5s cubic-bezier(0.20, -0.20, 0.1, 1) infinite;
}

h2 {
  position: absolute;
}
h2:first-child {
  top: 100%;
}

h2:last-child{
  top: 300%
}

@keyframes slide {
  0% {
    transform: translateY(0);
  }
  15%, 30% {
    transform: translateY(-100%);
  }
  45%, 60% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.icon {
  color: #fafafa;
}

.badge {
  border: solid 1px rgba(255,255,255, .2);
  backdrop-filter: blur(5px);
}

.badge:hover {
  border: solid 1.2px rgba(255,255,255, .3);
}
</style>