---
import { Download } from "lucide-react";
import ThemeSelector from "../reactComponentes/ThemeSelector";
---

<header
	class="fixed inset-x-0 top-0 z-20 flex justify-center px-3 py-3 sm:py-5"
>
	<nav
		class="glass w-fit rounded-2xl border-2 border-slate-500 bg-sky-200/44 px-3 py-1 transition-all dark:border-white/20 dark:bg-black/10 dark:hover:border-white/30 sm:mx-auto sm:inline-flex sm:w-auto sm:px-4"
	>

		<div
			class="flex w-fit items-center justify-center gap-4 sm:w-auto sm:flex-row sm:gap-x-6 lg:justify-center lg:gap-x-8"
		>
					
			<ul
				class="flex w-fit flex-wrap items-center justify-center gap-x-4 gap-y-2 text-center sm:w-auto sm:flex-nowrap sm:gap-x-4 md:gap-x-6"
			>
				<li>
					<a
						href="/#inicio"
						class="pointer cursor-pointer text-xs text-slate-900 transition-all hover:text-sky-600 dark:text-slate-50 dark:hover:text-sky-400 sm:text-sm md:text-base"
					>
						Inicio
					</a>
				</li>
				<li>
					<a
						href="/#proyectos"
						class="pointer cursor-pointer text-xs text-slate-900 transition-all hover:text-sky-600 dark:text-slate-50 dark:hover:text-sky-400 sm:text-sm md:text-base"
					>
						Proyectos
					</a>
				</li>
				<li>
					<a
						href="/#sobreMi"
						class="pointer cursor-pointer text-xs text-slate-900 transition-all hover:text-sky-600 dark:text-slate-50 dark:hover:text-sky-400 sm:text-sm md:text-base"
					>
						Sobre mi
					</a>
				</li>
				<li>
					<a
						data-astro-prefetch="hover"
						href="#contacto"
						class="pointer cursor-pointer text-xs text-slate-900 transition-all hover:text-sky-600 dark:text-slate-50 dark:hover:text-sky-400 sm:text-sm md:text-base"
					>
						Contacto
					</a>
				</li>
			</ul>

			<div
				class="order-1 flex items-center justify-center gap-2 self-center sm:order-2 sm:gap-4"
			>
				<ThemeSelector client:only="react" />
				<div
					id="tooltip-cv"
					role="tooltip"
					class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-slate-50 dark:text-gray-900 bg-slate-900 dark:bg-white border dark:border-gray-200 rounded-lg shadow-sm opacity-0 tooltip"
				>
					Descargar CV
					<div class="tooltip-arrow" data-popper-arrow></div>
				</div>
				<button
					id="descargacv"
					aria-labelledby="Descarga de CV"
					aria-label="DownloadButton"
					data-tooltip-target="tooltip-cv"
					class="rounded-full"
					name="Descargador de CV"
				>
					<a
						download
						href="/docs/curriculum_vitae.pdf"
						class="flex h-9 w-9 items-center justify-center rounded-full border border-slate-500/70 text-slate-900 transition-all hover:scale-105 hover:text-sky-600 dark:border-white/20 dark:text-slate-50 dark:hover:text-sky-400 sm:h-10 sm:w-10"
						target="_blank"
						aria-label="Download button"
					>
						<Download
							className="icon h-[16px] w-[16px] stroke-slate-900 transition-all dark:stroke-slate-50 sm:h-[18px] sm:w-[18px]"
						/>
					</a>
				</button>
			</div>
		</div>
	</nav>
</header>

<style scoped>
	.glass {
		backdrop-filter: blur(10px);
		position: relative;
	}
	.icon {
		color: theme("colors.slate.50");
	}
</style>
