---
import ClientRouter from "astro/components/ClientRouter.astro";
---
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/palette.svg" />
  <meta name="generator" content={Astro.generator} />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Matías Owen Jordán</title>
  <script>
    (function () {
      const root = document.documentElement;
      const savedTheme = localStorage.getItem("theme");
      const prefersDark = window.matchMedia(
        "(prefers-color-scheme: dark)"
      ).matches;

      if (savedTheme) {
        root.classList.add(savedTheme);
      } else if (prefersDark) {
        root.classList.add("dark");
        localStorage.setItem("theme", "dark");
      } else {
        root.classList.add("light");
        localStorage.setItem("theme", "light");
      }
    })();
  </script>
  <ClientRouter />
</head>