---
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Matías Owen Jordán</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Parkinsans:wght@300..800&display=swap');
	html,
	body {
		font-family: "Parkinsans", sans-serif;
		font-optical-sizing: auto;
		margin: 0;
		width: 100%;
		height: 100%;
		scroll-behavior: smooth;
		/* background-image: linear-gradient(to left bottom, #0c2d5d, #0d2a5b, #0e2758, #0f2356, #102053); */
	}

	main {
		background-image: linear-gradient(to right bottom, #071e40, #16243c, #0e2758, #16243c, #102053); 
	}

	:root {
		color-scheme: dark;
		--text-color: #fafafa
	}

</style>
