---
import Footer from "@/components/Footer.astro";
import Navbar from "@/components/Navbar.astro";
import Head from "./Head.astro";
---

<!doctype html>
<html lang="en" class="scroll-smooth focus:scroll-auto">
  <Head/>
  <Navbar/>
  <body>
    <slot />
  </body>
  <Footer />
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Parkinsans:wght@300..800&display=swap");
  html,
  body {
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
  }
  main {
    margin: 0;
  }
  :root {
    color-scheme: dark;
    --text-color: #fafafa;
  }

  .dark body {
    background-image: linear-gradient(
      to right bottom,
      #071e40,
      #16243c,
      #0e2758,
      #16243c,
      #102053
    );
  }

  .light body {
    background-image: linear-gradient(
      to right bottom,
      #fafafa,
      #f3f4fc,
      #e9f0fe,
      #dcecff,
      #cbe9ff,
      #c2e8ff,
      #b8e6ff,
      #aee5fe,
      #ade5fe,
      #ace4fd,
      #aae4fd,
      #a9e3fc
    );
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #071e40;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #3fb6ea;
    border-radius: 10px;
  }
</style>
